In [31]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [34]:
# Load in file
city_data = "city_data4.csv"
ride_data = "ride_data_original.csv"

In [35]:
# Create DataFrame from city CSV
city_df = pd.read_csv(city_data, low_memory=False)
city_df.head()

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [36]:
# Create DataFrame from ride CSV
ride_df = pd.read_csv(ride_data, low_memory=False)
ride_df.head()

          city             date   fare       ride_id
0     Sarabury  1/16/2016 13:49  38.35  5.403689e+12
1    South Roy   1/2/2016 18:42  17.49  4.036272e+12
2  Wiseborough  1/21/2016 17:35  44.18  3.645042e+12
3  Spencertown  7/31/2016 14:53   6.87  2.242597e+12
4   Nguyenbury    7/9/2016 4:42   6.28  1.543058e+12

In [38]:
# Merge the two created data frames by city
merged_df = pd.merge(ride_df, city_df, on = "city", how="left")
merged_df.head()

          city             date   fare       ride_id  driver_count   type
0     Sarabury  1/16/2016 13:49  38.35  5.403689e+12          46.0  Urban
1    South Roy   1/2/2016 18:42  17.49  4.036272e+12          35.0  Urban
2  Wiseborough  1/21/2016 17:35  44.18  3.645042e+12          55.0  Urban
3  Spencertown  7/31/2016 14:53   6.87  2.242597e+12          68.0  Urban
4   Nguyenbury    7/9/2016 4:42   6.28  1.543058e+12           8.0  Urban

In [120]:
# Calc Average Fare ($) Per City
average_fare_city = merged_df.groupby(["type"]).mean()["fare"]
average_fare_city

type
Rural       34.040720
Suburban    30.952344
Urban       24.663594
Name: fare, dtype: float64

In [121]:
# Calc Total Number of Rides Per City
total_rides_city = merged_df.groupby(["type"]).nunique()["fare"]
total_rides_city

type
Rural        124
Suburban     575
Urban       1344
Name: fare, dtype: int64

In [123]:
# Calc Total Number of Drivers Per City Type
total_drivers_city = merged_df.groupby(["type"])["driver_count"].nunique()
total_drivers_city

type
Rural        8
Suburban    25
Urban       42
Name: driver_count, dtype: int64

In [134]:
# Calc Total Fares ($) Per City
total_fare = merged_df.groupby(["type"]).sum()["fare"]
total_fare = total_fare.map("${:,.2f}".format)
total_fare

type
Rural        $4,255.09
Suburban    $20,335.69
Urban       $40,078.34
Name: fare, dtype: object

In [152]:
# Create a DataFrame to hold results
per_type_summary = pd.DataFrame({"Average Fare per City": average_fare_city,
                                   "Total Number of Rides Per City": total_rides_city,
                                   "Total Number of Drivers Per City": total_drivers_city})

per_type_summary["Average Fare per City"] = per_type_summary["Average Fare per City"].map("${:,.2f}".format)

# Display the data frame
per_type_summary

,Average Fare per City,Total Number of Drivers Per City,Total Number of Rides Per City
type,,,
Rural,$34.04,8,124
Suburban,$30.95,25,575
Urban,$24.66,42,1344

In [164]:
# % of Total Fares by City Type using conditionals
rural_fare = merged_df[(merged_df["type"] == "Rural")]
rural_fare

,city,date,fare,ride_id,driver_count,type
2282,Horneland,7/19/2016 10:07,12.63,8.214499e+12,8.0,Rural
2283,Kinghaven,5/18/2016 23:28,20.53,6.432117e+12,3.0,Rural
2284,New Johnbury,4/21/2016 8:30,56.60,9.002881e+12,6.0,Rural
2285,South Joseph,2/17/2016 1:41,57.52,7.365787e+12,3.0,Rural
2286,Kennethburgh,10/19/2016 13:13,24.43,2.728236e+12,3.0,Rural
2287,East Stephen,2/16/2016 11:58,22.43,8.118042e+12,6.0,Rural
2288,Stevensport,2/14/2016 15:52,22.20,3.412624e+11,6.0,Rural
2289,West Kevintown,11/27/2016 20:12,12.92,6.460742e+12,5.0,Rural
2290,East Troybury,2/21/2016 6:07,45.12,1.607320e+12,3.0,Rural
2291,Erikport,1/1/2016 18:05,11.76,3.568184e+12,3.0,Rural
2292,Hernandezshire,2/20/2016 8:17,58.95,3.176535e+12,10.0,Rural
2293,Jacksonfort,10/9/2016 2:18,10.33,1.819119e+12,6.0,Rural
2294,East Leslie,4/21/2016 18:44,19.26,5.836114e+12,9.0,Rural
2295,Horneland,3/22/2016 21:22,31.53,1.797786e+12,8.0,Rural
2296,New Johnbury,7/25/2016 19:05,24.03,8.781417e+12,6.0,Rural
2297,East Stephen,7/27/2016 9:55,41.64,3.154262e+12,6.0,Rural
2298,North Whitney,4/1/2016 21:21,51.01,6.126897e+11,10.0,Rural
2299,East Leslie,4/13/2016 4:30,40.47,7.075059e+12,9.0,Rural
2300,Manuelchester,3/21/2016 22:15,49.62,6.045427e+12,7.0,Rural
2301,South Joseph,4/12/2016 0:21,56.07,7.011959e+12,3.0,Rural
2302,North Whitney,4/26/2016 9:35,42.09,9.465134e+12,10.0,Rural
2303,Kinghaven,8/15/2016 14:54,54.73,9.861677e+12,3.0,Rural
2304,East Leslie,4/26/2016 2:34,45.80,9.402873e+12,9.0,Rural
2305,Hernandezshire,6/26/2016 20:11,28.78,6.382848e+12,10.0,Rural
2306,East Stephen,7/11/2016 1:21,41.86,1.023431e+12,6.0,Rural
2307,East Troybury,3/4/2016 10:49,35.77,9.725378e+12,3.0,Rural
2308,Erikport,10/1/2016 6:32,25.18,5.044558e+12,3.0,Rural
2309,East Leslie,4/5/2016 18:53,44.78,6.113138e+12,9.0,Rural
2310,West Kevintown,2/19/2016 1:42,11.15,8.622534e+12,5.0,Rural
2311,Shelbyhaven,5/24/2016 15:29,18.11,1.144792e+12,9.0,Rural
...,...,...,...,...,...,...
2377,West Kevintown,6/15/2016 19:53,13.50,9.577922e+12,5.0,Rural
2378,Matthewside,2/23/2016 0:43,40.84,8.665249e+12,4.0,Rural
2379,Erikport,11/26/2016 4:39,44.21,9.598643e+12,3.0,Rural
2380,Kinghaven,7/23/2016 8:23,46.08,8.440330e+12,3.0,Rural
2381,Hernandezshire,2/24/2016 17:30,44.68,6.389116e+12,10.0,Rural
2382,Kennethburgh,1/1/2016 4:31,33.53,5.149088e+12,3.0,Rural
2383,Stevensport,2/22/2016 2:45,19.91,8.080979e+11,6.0,Rural
2384,South Elizabethmouth,11/23/2016 7:47,46.39,1.939838e+12,3.0,Rural
2385,East Stephen,7/30/2016 21:25,35.39,1.107871e+12,6.0,Rural
2386,Jacksonfort,10/1/2016 13:41,34.17,7.750598e+12,6.0,Rural
2387,Kennethburgh,4/30/2016 20:44,23.58,4.524301e+12,3.0,Rural
2388,Horneland,3/25/2016 2:05,20.04,5.729327e+12,8.0,Rural
2389,Shelbyhaven,1/25/2016 1:39,59.43,8.088330e+12,9.0,Rural
2390,Erikport,8/3/2016 21:19,47.67,9.201709e+12,3.0,Rural
2391,Kennethburgh,11/19/2016 6:59,18.37,5.897896e+12,3.0,Rural
2392,Jacksonfort,10/20/2016 16:42,37.75,4.356782e+12,6.0,Rural
2393,South Joseph,10/15/2016 3:53,32.50,2.758038e+12,3.0,Rural
2394,Matthewside,5/18/2016 2:00,48.67,2.049161e+12,4.0,Rural
2395,Matthewside,8/8/2016 14:02,24.97,2.872495e+12,4.0,Rural
2396,South Joseph,10/28/2016 9:52,25.34,6.706102e+12,3.0,Rural
2397,South Elizabethmouth,7/19/2016 9:35,31.09,2.959750e+12,3.0,Rural
2398,North Whitney,11/11/2016 16:24,22.99,3.454326e+12,10.0,Rural
2399,New Johnbury,8/29/2016 2:36,18.83,7.368222e+12,6.0,Rural
2400,East Leslie,6/22/2016 7:45,34.54,6.849501e+11,9.0,Rural
2401,Kennethburgh,6/7/2016 11:43,56.02,3.117332e+11,3.0,Rural
2402,West Kevintown,2/10/2016 0:50,34.69,9.595491e+12,5.0,Rural
2403,East Troybury,3/14/2016 1:55,38.80,9.205811e+12,3.0,Rural
2404,North Whitney,1/26/2016 1:06,34.92,4.165974e+12,10.0,Rural
2405,South Joseph,9/28/2016 7:30,12.55,4.336213e+12,3.0,Rural
2406,South Elizabethmouth,4/21/2016 10:20,16.50,5.702608e+12,3.0,Rural

In [154]:
# % of Total Rides by City Type

In [ ]:
# % of Total Drivers by City Type
Rural_percent = (total_rides_city/) * 100

In [ ]:
# Labels for the sections of our pie chart
labels = ["Rural", "Suburban", "Urban"]

# The values of each section of the pie chart
sizes = [185, 172, 100, 110]

# The colors of each section of the pie chart
colors = ["gold", "light sky blue", "lightcoral"]

# Tells matplotlib to seperate the "Python" section from the others
explode = (0, 0, 0, 0)